@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --red: #ff2b2b;
    --dark-red: #b90000;
    --black: #050505;
    --dark: #0c0c0c;
    --card: #141414;
    --white: #ffffff;
    --gray: #a5a5a5;
}

body {
    background: var(--black);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}



header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #222;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
}

.logo span {
    color: var(--red);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--red);
}


.hero {
    min-height: 100vh;
    padding: 150px 8% 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    overflow: hidden;

    background:
        radial-gradient(circle at 80% 50%, #380000 0%, transparent 35%),
        linear-gradient(120deg, #050505, #100000);
}

.hero-content {
    max-width: 560px;
    z-index: 2;
}

.small-title {
    color: var(--red);
    font-family: 'Orbitron', sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.hero h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: clamp(45px, 6vw, 80px);
    line-height: 1.1;
}

.hero h1 span {
    color: var(--red);
}

.hero h2 {
    font-size: 25px;
    margin: 20px 0;
    color: #ddd;
}

.hero-content > p:not(.small-title) {
    color: var(--gray);
    line-height: 1.8;
    margin-bottom: 30px;
}

/* Button */

.btn {
    display: inline-block;
    padding: 14px 28px;
    color: white;
    background: var(--red);
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;

    box-shadow: 0 0 25px rgba(255, 0, 0, 0.3);
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: black;
    transform: translateY(-3px);
}

/* Car */

.car-area {
    width: 520px;
    height: 300px;
    position: relative;
}

.road {
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 45px;
    background: #555;
    box-shadow: 0 0 20px #ff0000;
}

.car {
    position: absolute;
    width: 400px;
    height: 150px;
    bottom: 50px;
    left: 50px;

    animation: carFloat 2s infinite ease-in-out;
}

.car-body {
    position: absolute;
    width: 400px;
    height: 75px;
    bottom: 20px;

    background: linear-gradient(
        135deg,
        #ff3030,
        #b40000
    );

    border-radius: 40px 100px 20px 20px;
    box-shadow:
        0 10px 30px rgba(255, 0, 0, .4),
        inset 0 -10px 20px rgba(0, 0, 0, .3);
}

.roof {
    position: absolute;
    width: 230px;
    height: 80px;
    left: 85px;
    top: 5px;

    background: #c40000;
    clip-path: polygon(20% 100%, 40% 0, 75% 0, 100% 100%);
}

.window {
    position: absolute;
    background: #111;
    top: 10px;
    height: 55px;
}

.window.front {
    width: 80px;
    left: 105px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

.window.back {
    width: 75px;
    left: 30px;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.headlight {
    position: absolute;
    right: 5px;
    bottom: 57px;
    width: 30px;
    height: 17px;

    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 30px #fff;
}

/* Wheels */

.wheel {
    position: absolute;
    width: 65px;
    height: 65px;
    bottom: -10px;

    background: #050505;
    border: 5px solid #333;
    border-radius: 50%;

    animation: rotateWheel .8s linear infinite;
}

.wheel-left {
    left: 55px;
}

.wheel-right {
    right: 55px;
}

.rim {
    width: 27px;
    height: 27px;

    position: absolute;
    top: 14px;
    left: 14px;

    border: 5px solid #aaa;
    border-radius: 50%;
}



@keyframes carFloat {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@keyframes rotateWheel {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.section {
    max-width: 1200px;
    margin: auto;
    padding: 110px 30px;
}

.section-title {
    margin-bottom: 55px;
}

.section-title p {
    color: var(--red);
    letter-spacing: 3px;
    font-size: 12px;
}

.section-title h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 42px;
    margin-top: 10px;
}

.section-title span {
    color: var(--red);
}

/* About */

.about-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.about-text,
.about-card {
    background: var(--card);
    padding: 40px;
    border: 1px solid #242424;
}

.about-text h3 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
}

.about-text p {
    color: var(--gray);
    line-height: 1.9;
    margin-bottom: 15px;
}

.about-card {
    text-align: center;
    border-top: 3px solid var(--red);
}

.card-icon {
    font-size: 60px;
    color: var(--red);
    margin-bottom: 20px;
}

/* Skills */

.skills-section {
    background: #080808;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.skill-card {
    background: var(--card);
    padding: 40px 30px;
    border: 1px solid #252525;
    transition: .3s;
}

.skill-card:hover {
    transform: translateY(-10px);
    border-color: var(--red);
    box-shadow: 0 10px 40px rgba(255, 0, 0, .15);
}

.skill-icon {
    font-size: 35px;
    color: var(--red);
    margin-bottom: 20px;
}

.skill-card h3 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 15px;
}

.skill-card p {
    color: var(--gray);
    line-height: 1.7;
}



.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project-card {
    position: relative;
    background: linear-gradient(145deg, #171717, #0c0c0c);
    padding: 35px;
    min-height: 270px;
    border: 1px solid #222;
    transition: .3s;
}

.project-card:hover {
    border-color: var(--red);
    transform: translateY(-8px);
}

.project-number {
    color: var(--red);
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    margin-bottom: 35px;
}

.project-card h3 {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 15px;
}

.project-card p {
    color: var(--gray);
    line-height: 1.7;
    margin-bottom: 25px;
}

.project-card a {
    color: var(--red);
    text-decoration: none;
}



.contact {
    text-align: center;
    padding: 120px 20px;

    background:
        linear-gradient(
            rgba(20,0,0,.8),
            rgba(0,0,0,.95)
        );
}

.contact > p {
    color: var(--red);
    letter-spacing: 4px;
    font-size: 12px;
}

.contact h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    margin: 20px 0 5px;
}

.contact h3 {
    color: #aaa;
    margin-bottom: 35px;
}



footer {
    text-align: center;
    padding: 25px;
    border-top: 1px solid #222;
    color: #666;
    font-size: 13px;
}



@media (max-width: 900px) {

    .nav-links {
        display: none;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 140px;
    }

    .car-area {
        transform: scale(.75);
        margin-top: 30px;
    }

    .about-box,
    .skills,
    .projects {
        grid-template-columns: 1fr;
    }

    .section-title h2 {
        font-size: 32px;
    }
}

@media (max-width: 550px) {

    .hero h1 {
        font-size: 42px;
    }

    .car-area {
        transform: scale(.55);
        margin-left: -80px;
    }
}
